################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blotter/obj/Debug
/PriceSupplier/obj/Debug
/Blotter/bin/Debug
/PriceSupplier/bin/Debug
